@model IEnumerable<Monitoria.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Novo Curso", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracao)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Duracao)
    </td>

    <td>
        @Html.ActionLink("Tarefa", "Visualizar") |
        @Html.ActionLink("Editar", "Edit", new { id = item.CursoID }) |
        @Html.ActionLink("Detalhes", "Details", new { id = item.CursoID }) |
        @Html.ActionLink("Apagar", "Delete", new { id = item.CursoID })
    </td>
</tr>
    }

</table>
<p>
    @Html.ActionLink("Volta", "Aluno","Home")
</p>






