@model Monitoria.Models.Usuario

@{
    ViewBag.Title = "Professor";
}


<div class="jumbotron" style="background-color:#ffd800; color:white">
    <h1>Bem-Vindo Professor</h1>
    <p class="lead">Vamos continuar os Estudos.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bem Vindo</title>
    <link href="~/Content/bootstrap-flaty.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Monitoria", "Professor", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Curso de Extensão", "Index", "Curso")</li>
                <li>@Html.ActionLink("Minhas Materia", "Index", "Materia")</li>
            </ul>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="row">
        <div class=" col-md-4" style=" color:white">
            <div class="card" style="width: 18rem;">
                <div class="card-body" id="DivCurso">
                    <h5 class="card-title">O que é Curso de Extenção.</h5>
                    <p class="card-text" hidden id="Cursotexto">
                        É uma atividade acadêmica,  que não está inclusa como parte integrante e obrigatória do ensino de graduação e da pós-graduação. O objetivo da extensão é complementar os conhecimentos.<br />

                    </p>
                    <button type="button" id="botaoCurso" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>
        </div>

        <div class=" col-md-4" style="color:white">
            <div class="card" style="width: 18rem;">
                <div class="card-body" id="DivMateria">
                    <h5 class="card-title">Materia</h5>
                    <p class="card-text" hidden id="Materiatexto">
                        Suas materias também está na monitoria.<br />
                    </p>
                    <button type="button" id="botaoMateria" class="btn btn-primary">Saiba Mais</button>

                </div>
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            var BotaoOculta = $("<button />").attr("type", "button").attr("id", "botaoEscondeCurso").attr("class", "btn btn-primary").text("Ocultar").prop("hidden", true);
            $("#DivCurso").append(BotaoOculta);
            $("#botaoCurso").click(function () {
                $("#Cursotexto").prop("hidden", false);
                $("#botaoCurso").prop("hidden", true);
                $("#botaoEscondeCurso").prop("hidden", false);
            });
            $("#botaoEscondeCurso").click(function () {
                $("#Cursotexto").prop("hidden", true);
                $("#botaoCurso").prop("hidden", false);
                $("#botaoEscondeCurso").prop("hidden", true);

            });
        });


        $(document).ready(function () {
            var BotaoOculta = $("<button />").attr("type", "button").attr("id", "botaoEscondeMateria").attr("class", "btn btn-primary").text("Ocultar").prop("hidden", true);
            $("#DivMateria").append(BotaoOculta);
            $("#botaoMateria").click(function () {
                $("#Materiatexto").prop("hidden", false);
                $("#botaoMateria").prop("hidden", true);
                $("#botaoEscondeMateria").prop("hidden", false);
            });
            $("#botaoEscondeMateria").click(function () {
                $("#Materiatexto").prop("hidden", true);
                $("#botaoMateria").prop("hidden", false);
                $("#botaoEscondeMateria").prop("hidden", true);

            });
        });

        $(document).ready(function () {
            var BotaoOculta = $("<button />").attr("type", "button").attr("id", "botaoEscondeSaoRafael").attr("class", "btn btn-primary").text("Ocultar").prop("hidden", true);
            $("#DivSaoRafael").append(BotaoOculta);
            $("#botaoSaoRafael").click(function () {
                $("#SaoRafaeltexto").prop("hidden", false);
                $("#botaoSaoRafael").prop("hidden", true);
                $("#botaoEscondeSaoRafael").prop("hidden", false);
            });
            $("#botaoEscondeSaoRafael").click(function () {
                $("#SaoRafaeltexto").prop("hidden", true);
                $("#botaoSaoRafael").prop("hidden", false);
                $("#botaoEscondeSaoRafael").prop("hidden", true);

            });
        });

    </script>

</body>
</html>
