@model IEnumerable<Monitoria.Models.Materia>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Nova Materia", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Upload de Arquivos", "Home") |
                @Html.ActionLink("Editar", "Edit", new { id = item.MateriaID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.MateriaID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.MateriaID })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Volta", "Professor", "Home")
</p>

